<h1>This is chat widget template</h1>

<div class="">
      {{input name="query" class="input"  placeholder="type here"}}
      <button type="button" class="input" style="margin-top:30px" name="button" {{action "setThePayload"}}>SEND</button>
    </div>
{{yield}}
