<h1>This is chat widget template</h1>

<div class="other">
        <span class="user"><img alt="" src="images/user-you.png" /></span>
        <div class="message">
            <div id="rec" class="mic"></div>
            {{input id="speech" class="input" type="text" value=userQuery placeholder="type here" insert-newline="setThePayload"}}
        </div>
      </div>







{{yield}}
