{{!-- The following component displays Ember's default welcome message. --}}
<section class="sectionChat">
  <div class="chat">
    {{chat-widget}}
    {{bot-answer}}
  </div>
</section>
{{brief-data}}


{{!-- Feel free to remove this! --}}

{{outlet}}
